<?xml version="1.0"?>
<appSettings>
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

  <!--CRM 365 Connection Setting-->
  <add key="Username" value="******" />
  <add key="Password" value="*****" />
  <add key="URL_CRM_365" value="https://***.crm2.dynamics.com" />
  <add key="Region" value="SouthAmerica" />
  <add key="Organame" value="***" />

</appSettings>
