<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 

  <connectionStrings>
    <!--Connection string to Crm365. Used by  Microsoft.Xrm.Tooling.Connector-->
    <add name="Crm365" connectionString="Url=https://***.crm2.dynamics.com; Username=***; Password=***; AuthType=Office365" />
  </connectionStrings>
</configuration>