<?xml version="1.0"?>
<appSettings>
  <!--Chaves adicionadas pelo MVC-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="owin:AutomaticAppStartup" value="true" />
  
  <!--CRM 365 Connection Setting-->
  <add key="Username" value="****" />
  <add key="Password" value="*****" />
  <add key="URL_CRM_365" value="https://***.crm2.dynamics.com" />
  <add key="Region" value="SouthAmerica" />
  <add key="Organame" value="mrv" />


</appSettings>
